<div class="container p-4 my-5 whitebox">
    <div class="row text-center ">
        <div class="col mx-auto ">
            <div class="row ">
                <div class="col">
                    <h4 class="display-4">{{user.fullname}}</h4>
                </div>
            </div>
            <div class="row justify-content-center" style="border-radius: 15px;">
                <a href="" class="card col-md-4 m-5  bg-info " style="height: 22rem ">
                    <img src="/img/diagram.png" alt="dart logo" class=" mt-20 p-3">
                   
                </a>
                <div class="col-md-4 m-5">
                    <h5><strong>MODELO C4</strong></h5>
                    <p>
                        <strong>Nivel 1: El diagrama de contexto del sistema</strong><br>
                        Un diagrama de contexto del sistema, muestra el sistema de software que está
                        construyendo y cómo encaja en el mundo.
                    </p>
                    <p>
                        <strong>Nivel 2: El diagrama del contenedor</strong><br>
                        Un diagrama de contenedor, amplía el sistema de software y muestra los contenedores
                        (aplicaciones, almacenamiento de datos, microservicios, etc.) 
                    </p>
                    <p>
                        <strong>Nivel 3: El diagrama de componentes</strong><br>
                        Un diagrama de componentes, expande un contenedor individual para mostrar los
                        componentes que contiene.
                    </p>
                </div>


            </div>
             <div class="">
                  <a href="/projects/add" class="btn btn-m btn-success">Nuevo Proyecto</a>
                    <a href="/projects/join" class="btn btn-m btn-danger" target="blank"> Unirse Proyecto</a>
             </div>

        </div>
    </div>
</div>