<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            
            <img src="/img/groupprj.png" alt="dart logo" class=" p-3 ">
            <h1 class="mb-1 ">
               <em>¡Bienvendido!</em>
            </h1>         
            <h3 class="mb-3">
                <em>Contruye tu propio diagrama Modelo C4</em>
            </h3>
            <a href="/login" class="btn btn-light">
                Empezar
            </a>
        </div>

    </header>
</main>